body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.title {
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 900;
  
}
.emoji {
  font-size: 14px;
}
code {
  font-family: monospace;
}
.footer {
  padding: auto;
  justify-content: center;
  background: #cacaca;
  bottom: 0%;
  right: 2%;
  position: fixed;
  text-align: center;
  font-size: 12px;
  z-index: 2;
}
.footer img {
  width: 100px;
}

.App {
  background: #cacaca;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: #ffffffcc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-family: sans-serif;
  font-size: 24px;
}